.control-bar {
    display: flex;
    gap: var(--spacing);
    padding: var(--spacing);
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100vw - (var(--spacing) * 2) - var(--width-main-nav));

    &__title {
        align-items: center;
        color: var(--color-on-background);
        display: flex;
        padding-left: var(--spacing);
    }

    &__search {
        flex-grow: 1;
    }

    &__actions {
        gap: var(--spacing);
    }
}