.data-table {
    display: grid;
    overflow-x: auto;
    position: relative;
    width: 100%;

    &__header {
        align-items: center;
        background: var(--color-surface);
        border-bottom: 2px solid var(--color-borders);
        display: flex;
        font-weight: bold;
        padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
        position: sticky;
        text-align: left;
        top: 0;
        white-space: nowrap;
        z-index: 2;

        &--align-center {
            justify-content: center;
        }
        &--align-right {
            justify-content: flex-end;
        }
    }

    &__column {
        align-content: center;
        border-bottom: 1px solid var(--color-borders);
        background: var(--color-surface);
        padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
        white-space: nowrap;

        &--picture {
            background-repeat: no-repeat;
            background-size: contain;
            aspect-ratio: 1 / 1;
            padding: 0;
        }

        &--actions {
            border-left: 1px solid var(--color-borders);
            padding-top: 0;
            padding-bottom: 0;
            position: sticky;
            right: 0;
            
            &::before {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, var(--color-borders) 300%);
                content: '';
                height: 100%;
                left: calc(var(--spacing) / 2 * -1);
                position: absolute;
                top: 0;
                width: calc(var(--spacing) / 2);
            }
        }
    }

    &__loading-indicator {
        align-items: center;
        background: transparent !important;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        min-height: calc(var(--spacing) * 2 + var(--font-size-default));
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__header {
        &--with-sorting {
            cursor: pointer;

            &:hover {
                background: var(--color-primary-light);
                transition: background var(--transition-duration);
            }
        }
    }

    &__header-sorting-icon {
        display: block;
        height: calc(var(--font-size-default) * 1.5);
        width: auto;

        &--small {
            height: calc(var(--font-size-default) * 1.2);
        }
    }

    &--allow-overflow {
        overflow: visible;
    }
}