.data-table {
    border-collapse: collapse;
    position: relative;
    width: 100%;

    th {
        border-bottom: 2px solid var(--color-borders);
        font-weight: bold;
        padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
        text-align: left;
    }

    tr:nth-child(even) {
        background: var(--color-neutral-light);
    }

    td {
        padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);

        &.data-table__actions {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__loading-indicator {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        min-height: calc(var(--spacing) * 2 + var(--font-size-default));
        position: absolute;
        top: 0;
        width: 100%;
    }

    &--is-loading {
        .data-table__row {
            opacity: 0.8;
        }
    }
}