.loading-wrapper {
    display: flex;
    flex-shrink: 1;
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;

    &__loader {
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        bottom: 0;
        display: flex;
        flex-grow: 1;
        grid-template-columns: 1fr;
        justify-content: center;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        transition: opacity var(--transition-duration);
        top: 0;
        z-index: 9999;
    }

    &--is-loading {
        .loading-wrapper__loader {
            opacity: 1;
            pointer-events: auto;
        }
    }
}