.page {
    display: flex;

    &__content {
        box-sizing: border-box;
        min-height: 100vh;
        width: 100vw;
        padding:
                calc(var(--height-input) + (var(--spacing) * 2))
                var(--spacing)
                var(--spacing)
                calc(var(--spacing) + var(--width-main-nav));
    }

    &--center {
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        
        .page__content {
            min-height: auto;
            padding: var(--spacing);
            width: auto;
            width: fit-content;
        }
    }
}