.panel {
    background: var(--color-surface);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-default);
    overflow: hidden;
    position: relative;

    &--embedded {
        background: var(--color-neutral-light);
        box-shadow: var(--shadow-inner);
    }

    &__header {
        align-items: center;
        background: var(--color-primary);
        display: flex;
        justify-content: space-between;
        margin: 0;
        height: var(--height-input);
        padding-left: var(--spacing);
        position: sticky;
        top: 0;
        z-index: 2;

        & > * {
            color: var(--color-on-background);
        }
    }

    &__content {
        padding: var(--spacing);
        overflow: hidden;
    }

    &__actions {
        background: var(--color-surface);
        bottom: 0;
        display: flex;
        justify-content: space-between;
        left: 0;
        margin-top: var(--spacing);
        padding: var(--spacing);
        position: sticky;
        right: 0;

        hr {
            left: 0;
            position: absolute;
            top: calc((var(--spacing) / 2) * -1);
        }
    }

    &--scroll-overflow {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100% - (var(--spacing) * 2));
    }

    &--full-height {
        min-height: calc(100% - (var(--spacing) * 2));
    }

    &--fix-full-height {
        height: calc(100% - var(--spacing));

        .panel__content {
            height: calc(100% - var(--height-input) - (var(--spacing) * 2) - var(--height-input) - (var(--spacing) * 2));
        }
    }
}