[submodule "src/sharedLib/eslintRulesets"]
	path = src/sharedLib/eslintRulesets
	url = git@github.com:florianrubel/eslint_rulesets.git
[submodule "src/sharedLib/api"]
	path = src/sharedLib/api
	url = git@github.com:florianrubel/demoshop_api_sdk.git
