@import "../../01_base/variables";

#dialogs {
    position: relative;
    z-index: var(--z-index-dialogs);
}

.dialog {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;

    &__content {
        box-sizing: border-box;
        max-height: 100vh;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: calc(var(--spacing) * 2) var(--spacing);
        position: relative;
        width: clamp(300px, 50vw, 600px);
    }

    &--full-width {
        .dialog__content {
            max-width: none;
            width: 100%;
        }
    }
    &--large {
        .dialog__content {
            width: clamp(300px, 50vw, 1000px);
        }
    }
}