.flex {
    display: flex;

    &--column {
        flex-direction: column;
    }

    &--gap {
        gap: var(--spacing);
    }
    &--gap-f2 {
        gap: calc(var(--spacing) / 2);
    }
    &--gap-f4 {
        gap: calc(var(--spacing) / 4);
    }

    &--col-gap {
        column-gap: var(--spacing);
    }
    &--col-gap-f2 {
        column-gap: calc(var(--spacing) / 2);
    }
    &--col-gap-f4 {
        column-gap: calc(var(--spacing) / 4);
    }

    &--row-gap {
        row-gap: var(--spacing);
    }
    &--row-gap-f2 {
        row-gap: calc(var(--spacing) / 2);
    }
    &--row-gap-f4 {
        row-gap: calc(var(--spacing) / 4);
    }

    &--justify-between {
        justify-content: space-between;
    }
    &--justify-center {
        justify-content: center;
    }
    &--justify-end {
        justify-content: flex-end;
    }

    &--align-center {
        align-items: center;
    }

    &--align-stretch {
        align-items: stretch;
    }
    
    &--center {
        align-items: center;
        justify-content: center;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &__item {
        &--grow {
            flex-grow: 1;
        }
    }

    &__spacer {
        flex-grow: 1;
    }
}