.text {
    &--primary {
        color: var(--color-primary) !important;
    }
    &--success {
        color: var(--color-success) !important;
    }
    &--warning {
        color: var(--color-warning) !important;
    }
    &--error {
        color: var(--color-error) !important;
    }
    &--neutral {
        color: var(--color-neutral) !important;
    }

    &--regular {
        font-weight: var(--font-weight-default) !important;
    }
    &--medium {
        font-weight: var(--font-weight-medium) !important;
    }
    &--semi-bold {
        font-weight: var(--font-weight-semibold) !important;
    }
    &--center {
        text-align: center;
    }

    &--small {
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
    }

    &--large {
        font-size: var(--font-size-large);
        line-height: var(--line-height-large);
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--ellipsis {
        text-overflow: ellipsis;
        width: 100%;
    }
}