@keyframes time-left {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.notifications-wrapper {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    height: calc(100vh - (var(--spacing) * 2));
    padding: calc(var(--spacing) + var(--height-input)) var(--spacing);
    pointer-events: none;
    right: 0;
    z-index: 100000;
}
  
.notification {
    align-items: center;
    background: var(--color-info-dark);
    backdrop-filter: var(--blur-default);
    border-left: 2px solid var(--color-info);
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    color: var(--color-on-background);
    display: flex;
    margin-bottom: calc(var(--spacing) / 2);
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    pointer-events: auto;
  
    &--success {
        background-color: var(--color-success-dark);
        border-color: var(--color-success);
        color: var(--color-on-background);
    }
    &--warning {
        background-color: var(--color-warning-dark);
        border-color: var(--color-warning);
        color: var(--color-on-background);
    }
    &--error {
        background-color: var(--color-error-dark);
        border-color: var(--color-error);
        color: var(--color-on-background);
    }
    &__icon {
        margin-right: calc(var(--spacing));
        padding: calc(var(spacing) / 2);
    }
    &__text {
        flex-grow: 1;
    }
    &__dismiss {
        background: none;
        border: none;
        cursor: pointer;
        padding: calc(var(spacing) / 2);
    }
  
    &__time-indicator {
        animation-name: time-left;
        animation-timing-function: linear;
        background: var(--color-on-background);
        bottom: 0;
        height: 2px;
        position: absolute;
        right: 0;
    }

    &--on-surface {
        background-color: var(--color-info-transparent);
        border-color: var(--color-info);
        color: var(--color-on-surface);

        &.notification--success {
            background-color: var(--color-success-transparent);
            border-color: var(--color-success);
            color: var(--color-on-surface);
        }
        &.notification--warning {
            background-color: var(--color-warning-transparent);
            border-color: var(--color-warning);
            color: var(--color-on-surface);
        }
        &.notification--error {
            background-color: var(--color-error-transparent);
            border-color: var(--color-error);
            color: var(--color-on-surface);
        }
    }
}