.tabs {
    display: flex;
    column-gap: 2px;
    width: 100%;

    &__tab {
        flex-grow: 1;
        position: relative;

        &--active {
            pointer-events: none;

            &::after {
                background: var(--color-primary);
                bottom: 0;
                content: '';
                height: 2px;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }
    }
}